<% include common/header.ejs %>
<nav class="nav navbar-nav navbar-right  rightBox">
    <div class="order"><b>Замовлення</b>
        <label class="how how_buy">0</label>
    </div>
    <div class="container-fluid buy" id="orderCart">
    </div>
    <div class="infoGoods">
    </div>
        <p>
        <center><button	type="button" id="edit"	class="btn btn-default	btn-lg">Редагувати замовлення</button></center>
        </p>
</nav>
<div class="orderBox row order-page-panel">
    <div class="left-panel">
        <div class="contact-form-1">
            <div class="form-description-1">
                1. Контактні дані
            </div>
            <div class="row">
                <div class="col-md-7">
                    <form class="form-horizontal">
                        <div class="form-group name-group">
                            <label class="col-sm-2 control-label">Ім’я</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputName" placeholder="Ім’я Фамілія">
                            </div>
                            <span class="name-help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                        </div>
                        <div class="form-group phone-group">
                            <label class="col-sm-2 control-label">Телефон</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputPhone" placeholder="+380994010999">
                            </div>
                            <span class="phone-help-block" style="display:none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                        </div>
                        <div class="form-group address-group">
                            <label class="col-sm-2 control-label">Адреса</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                            </div>
                            <span class="address-help-block" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 order-summary">
                    <div class=" bs-callout bs-callout-warning">
                        <h4>Інформація про замовлення</h4>
                        <p class="order-summery-time">
                            <b>Приблизний час доставки:</b> невідомий
                        </p>
                        <p class="order-summery-adress">
                            <b>Адреса доставки:</b> невідома
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group next-step-wrap">
                    <div class="next-step-width">
                        <button type="button" class="btn btn-warning next-step-button">
                            Далі
                            <i class="glyphicon glyphicon-chevron-right icon-white">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="googleMap" class="show"></div>
    <div id="liqpay"></div>
</div>
<% include common/footer.ejs %>