<div class="footer">
    <div class="foo">
        <div class="emblem">
            <h4>ЦЬОГО<br>
                ТИЖНЯ<br>НА ВСЕ<br>............<br>
                -20%</h4>
        </div>
        <img src="assets/images/discount.svg">
    </div>
    <br>
    <lable class="infoFooter hidden-xs hidden-sm hidden-md"><h4>Pizz.22-практичний проект в межах курсу JavaScript в Києво-Могилянській Академії
            <br>Доставка піци не здійснюється</h4>
    </lable>
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDT4egZhUVsVh9yR32GoLBQ4hRatQ6oUxg"></script>
<script src="//static.liqpay.com/libjs/checkout.js"></script>
</body>
</html>